<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo" />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <a [routerLink]="routes.adminDashboard"
                    ><img src="assets/img/login-logo.png" alt=""
                  /></a>
                </div>
                <h2>Crear Clínica/Hospital</h2>
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="form-group">
                    <label>Nombre Clinica/Hospital <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="name_clinic"
                      [ngClass]="{
                        'is-invalid':
                          f['name_clinic'].touched && f['name_clinic'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['name_clinic'].touched && f['name_clinic'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['name_clinic'].errors &&
                          f['name_clinic'].errors['required']
                        "
                      >
                        Nombre Clinica es requerido.
                      </div>
                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Nombre <span class="login-danger">*</span></label>
                    <input   class="form-control"  type="text"
                      formControlName="name"
                      [ngClass]="{ 'is-invalid':
                          f['name'].touched && f['name'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['name'].touched && f['name'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['name'].errors &&
                          f['name'].errors['required']
                        "
                      >
                        Nombre es requerido.
                      </div>
                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Apellido <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="surname"
                      [ngClass]="{
                        'is-invalid':
                          f['surname'].touched && f['surname'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['surname'].touched && f['surname'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['surname'].errors &&
                          f['surname'].errors['required']
                        "
                      >
                        Apellido es requerido.
                      </div>
                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Correo <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': f['email'].touched && f['email'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['email'].touched && f['email'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['email'].errors && f['email'].errors['required']
                        "
                      >
                        Correo es requerido.
                      </div>
                      <div *ngIf="f['email'].errors && f['email'].errors['email']">
                       Por favor, entre un correo válido.
                      </div>

                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>

                    <div *ngIf="existEmail" class="login-danger" >
                      Este correo ya existe en nuestra base de datos
                     </div>
                  </div>
                  <div class="form-group">
                    <label>Password <span class="login-danger">*</span></label>
                    <input
                      class="form-control pass-input"
                      [type]="passwordClass ? 'text' : 'password'"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid':
                          f['password'].touched && f['password'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['password'].touched && f['password'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['password'].errors &&
                          f['password'].errors['required']
                        "
                      >
                        Password es requerido.
                      </div>
                    </div>
                    <span (click)="passwordFunc()" [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views toggle-password"
                    ></span>
                  </div>
                  <div class="form-group">
                    <label
                      >Confirmar Password
                      <span class="login-danger">*</span></label
                    >
                    <input
                      class="form-control pass-input-confirm"
                      [type]="passwordClass ? 'text' : 'password'"
                      formControlName="confirmPassword"
                      [ngClass]="{
                        'is-invalid':
                          f['confirmPassword'].touched &&
                          f['confirmPassword'].invalid
                      }"
                    />
                    <div
                      *ngIf="
                        f['confirmPassword'].touched &&
                        f['confirmPassword'].invalid
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['confirmPassword'].errors &&
                          f['confirmPassword'].errors['required']
                        "
                      >
                        Confirmar Password es requerido.
                      </div>
                    </div>
                    <!-- <div *ngIf="isValidConfirmPassword" class="invalid-feedback" >
                      Password no coinciden
                    </div> -->
                    <div *ngIf="isValidConfirmPassword" class="invalid-feedback">
                        Password no coinciden
                    </div>

                    <span (click)="confirmPasswordFunc()" [ngClass] = "confirmPasswordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views confirm-password"
                    ></span>
                  </div>

                  <div class="forgotpass">
                    <!-- <div class="remember-me">
                      <label
                        class="custom_check mr-2 mb-0 d-inline-flex remember-me"
                      >
                        I agree to the
                        <a href="javascript:;">&nbsp; terms of service </a
                        >&nbsp; and
                        <a href="javascript:;">&nbsp; privacy policy </a>
                        <input type="checkbox" name="radio" />
                        <span class="checkmark"></span>
                      </label>
                    </div> -->
                  </div>

                  <div class="form-group login-btn">
                    <button
                      [disabled]="form.invalid"
                      class="btn btn-primary btn-block"
                      type="submit"
                    >
                      Registrarse
                    </button>
                  </div>

                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Ya tienes una cuenta?
                    <a [routerLink]="routes.login">Ingresar</a>
                  </p>

                  <!-- Social Login -->
                  <!-- <div class="social-login">
                    <a href="javascript:;"
                      ><img src="assets/img/icons/login-icon-01.svg" alt=""
                    /></a>
                    <a href="javascript:;"
                      ><img src="assets/img/icons/login-icon-02.svg" alt=""
                    /></a>
                    <a href="javascript:;"
                      ><img src="assets/img/icons/login-icon-03.svg" alt=""
                    /></a>
                  </div> -->
                  <!-- /Social Login -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
